<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallpaperChanger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WallpaperChanger.Settings>
            <setting name="Keywords" serializeAs="String">
                <value>Nature</value>
            </setting>
            <setting name="IsGeneral" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAnime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPeople" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sorting" serializeAs="String">
                <value>Random</value>
            </setting>
            <setting name="Ratio" serializeAs="String">
                <value />
            </setting>
            <setting name="Purity" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangeInterval" serializeAs="String">
                <value>Hour</value>
            </setting>
            <setting name="WallpaperHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkModeStartsAt" serializeAs="String">
                <value />
            </setting>
            <setting name="LightModeStartsAt" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentPageNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxPageNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoWallpaperChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoThemeChange" serializeAs="String">
                <value>False</value>
            </setting>
        </WallpaperChanger.Settings>
    </userSettings>
</configuration>